body {
  background-color: aliceblue;
}

h1 {
  color: tomato;
}

#header {
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  text-align: center;
}

#header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#header ul li {
  list-style: none;
  padding: 0 1rem 1rem 0;
  row-gap: 1rem;
}

#footer {
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
